
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.header {
    background: #1f2937;
    padding: 18px 0;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 4px;
}

.nav a:hover {
    border-bottom: 2px solid white;
}

.home {
    min-height: calc(100vh - 60px);
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    font-size: 64px;
}

.home h2 {
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 4px;
}

.download-btn {
    margin-top: 30px;
    padding: 12px 28px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.download-btn:hover {
    background: white;
    color: black;
}

.section {
    padding: 80px 120px;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.skill-block {
    margin-bottom: 30px;
}

.skill-block h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #1f2937;
}

.skill-block ul {
    padding-left: 20px;
}

.skill-block li {
    margin-bottom: 8px;
    line-height: 1.6;
}

.project-card {
    margin-bottom: 40px;
}

.project-card h3 {
    font-size: 22px;
    margin-bottom: 6px;
}

.project-card .tech {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;
}

.project-card ul {
    padding-left: 20px;
}

.project-card li {
    margin-bottom: 8px;
    line-height: 1.6;
}


.contact-page {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.contact-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 60px;
}


.contact-section {
    text-align: center;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    margin: 10px 0;
}

/* Contact Links */
.contact-section a {
    color: #4da6ff;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}
